{% extends 'main.html' %}

{% block content %}

<div class="form-register">
    <form method="POST">
        {% csrf_token %}
        <div class="form-register-single">
            <div>
                <h5><label for="new_password1">New Password:</label></h5>
            </div>
            {{ form.new_password1 }}
        </div>
        <div class="form-register-single">
            <div>
                <h5><label for="new_password2">Confirm New Password:</label></h5>
            </div>
            {{ form.new_password2 }}
        </div>
        <input type="submit" value="Update my password"/>
    </form>
</div>

{% endblock content %}