<div class="activity-container">
    <h3>Recent Activity</h3>
    {% for comment in post_comments %}

        <div class="activity-container-comment">
            <div class="avatar">
                <img src="{{comment.user.avatar.url}}" />
            </div>
            <p>{{comment}}</p>

            <small><a href="{% url 'user_profile' comment.user.username %}">{{comment.user}}</a> {{comment.date_created|timesince}} ago</small>
            <small>replied to "{{comment.post}}"</small>

            {% if request.user == comment.user %}

            <!-- <a href="{% url 'delete_comment' comment.id%}">Delete</a> -->

            {% endif %}
        </div>
        
    {% endfor %}
</div>