<div class="activity-container">
    <h3>Recent Activity</h3>
    {% for comment in post_comments %}

        <div class="activity-container-comment">
            <div class="avatar">
                <a href="{% url 'user_profile' comment.user.username %}">
                    <img src="{{comment.user.avatar.url}}" />
                </a>
            </div>
            <h4>{{comment}}</h4>

            <h5><a href="{% url 'user_profile' comment.user.username %}">{{comment.user.username}}</a> {{comment.date_created|timesince}} ago</h5>
            <h5>replied to "{{comment.post}}"</h5>

            {% if request.user == comment.user %}

            <!-- <a href="{% url 'delete_comment' comment.id%}">Delete</a> -->

            {% endif %}
        </div>
        
    {% endfor %}
</div>