{% load static %}

<div class="friend-list-container">
    <h3>Friends</h3>
        {% for friend in friends %}
            <div class="friend-list-single">
                <a href="{% url 'user_profile' friend.username %}">
                    <div class="avatar">
                        <img src="{{friend.avatar.url}}" />
                    </div>
                </a>
                <a href="{% url 'private_chat' friend.id %}">
                    <img src="{% static 'images/message.svg' %}" alt="message">
                </a>
                <h4>{{friend.username}}</h4>
            </div>
        {% endfor %}
</div>