{% load static %}

<div class="navbar-container">
    <div style="display: flex; align-items: center;">
        <a href="/" style="margin-right: 20px; margin-left: 10px;">
            <img src="{% static 'images/home.svg' %}" alt="home">
        </a>
        <a href="/" style="margin-right: 20px; margin-left: 20px;">
            <img src="{% static 'images/notebook.svg' %}" alt="notebook">
        </a>
    </div>
    
    {% include 'searchbar.html' %}
    
    <div class="navbar-container-right">
        <a href="{% url 'friend_chats' %}" style="margin-right: 20px; margin-left: 20px;">
            <img src="{% static 'images/chat.svg' %}" alt="notebook">
        </a>
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <div class="navbar-avatar">
                <a href="{% url 'user_profile' request.user.username %}"><img src="{{ request.user.avatar.url }}"/></a>
            </div>
            <div class="dropdown-content">
                <div class="edit-user-button">
                    <a href="{% url 'edit_user' %}">Edit Profile</a>
                </div>
                <div class="logout-button" style="margin-top: 10px;">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="login-button">
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>
</div>