body{
    background-color: #FFFAFA;
    font-family: 'Source Sans 3', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    border: 1px solid black;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.info-up{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.info-up h3{
    text-align: center;
}

.browse-topic-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.browse-topic-name {
    display: flex;
    justify-content: center; /* Wyśrodkuje poziomo */
    text-align: center;
}

.browse-topic-container h3{
    text-align: center;
}

.browse-topic-container h5{
    text-align: center;
    margin: 10px;
}

.browse-topic-container-topics{
    background-color: rgba(255, 139, 43, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.feed-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.post-feed-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-right: 10px;
    margin-left: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.activity-container h3{
    text-align: center;
}

.activity-container a{
    text-align: center;
}

.activity-container-comment{
    background-color: rgba(255, 139, 43, 0.5);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.profile-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}