body{
    background-color: gray;
    font-family: 'Source Sans 3', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    border: 1px solid black;
}

.info-up{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.browse-topic-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.browse-topic-container h3 {
    text-align: center;
}

.feed-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.activity-container{
    background-color: rgba(255, 139, 43, 0.5);
    margin-right: 10px;
    margin-left: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
}

.post-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}