.post-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.post-info{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-info p,
.post-info h1{
    text-align: center;
}

.post-images {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
}
.post-comment{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-comment h1{
    margin-left: 10px;
}

.post-comment-single{
    background-color: #EEF5FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

.post-comment-single-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comment-form{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.post-comment-form input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #B4D4FF;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.post-comment-form input[type="text"]:focus,
.post-comment-form input[type="text"]:active{
    background-color: #EEF5FF;
    border-color: #B4D4FF;
}

.post-users{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-users h1{
    text-align: center;
}

.post-users-single{
    background-color: #EEF5FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}