.post-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie kontenera na stronie */
}

.post-info{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-info p,
.post-info h1{
    text-align: center;
}

.post-images {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.post-comment{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-comment h1{
    margin-left: 10px;
}

.post-comment-single{
    background-color: #EEF5FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

.post-comment-single-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comment-form{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.post-comment-form input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #B4D4FF;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.post-comment-form input[type="text"]:focus,
.post-comment-form input[type="text"]:active{
    background-color: #EEF5FF;
    border-color: #B4D4FF;
}

.post-users{
    background-color: #B4D4FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-users h1{
    text-align: center;
}

.post-users-single{
    background-color: #EEF5FF;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    padding-bottom: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-pagination {
    position: static;
    margin-top: 10px;
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #333;
    font-size: 12px;
}

.swiper-button-prev {
    left: calc(50% - 220px);
}

.swiper-button-next {
    right: calc(50% - 220px);
}

.star-rating-display {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.star {
    color: #ccc;
}

.star.filled {
    color: #ffc107;
}

.post-likes{
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}