.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.searchbar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255, 139, 43, 0.5);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
}

.searchbar input[type="text"]:focus,
.searchbar input[type="text"]:active {
    background-color: rgba(255, 139, 43, 0.1);
    border-color: rgba(255, 139, 43, 1);
}