{% extends 'main.html' %}

{% block content %}
<div class="profile-edit-container">
    <form method="POST" enctype="multipart/form-data" class="form-user-edit">
        {% csrf_token %}
        <div class="form-group">
            <div>
                <h3>Avatar</h3>
            </div>
            <div class="avatar-section">
                <img src="{{ user.avatar.url }}" alt="Current avatar">
                <div>
                    <button type="button" class="custom-upload-btn" onclick="document.getElementById('id_avatar').click()">Wybierz plik</button>
                </div>
                <input type="file" name="avatar" class="custom-file-input" id="id_avatar" style="display: none;">
            </div>
        </div>
        <div class="form-group">
            <div>
                <h3>Name</h3>
            </div>
            {{ form.username }}
        </div>
        <div class="form-group">
            <div>
                <h3>First name</h3>
            </div>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <div>
                <h3>Last name</h3>
            </div>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <div>
                <h3>Bio</h3>
            </div>
            {{ form.bio }}
        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <div>
                <h3>Two-Factor Authentication</h3>
            </div>

            {% if request.user.two_factor_enabled %}
                <p>2FA is currently <strong>enabled</strong> for your account.</p>
                <a href="{% url 'two_factor_disable' %}" class="btn-submit" style="display: inline-block; margin-top: 0.5rem;">Disable 2FA</a>
            {% else %}
                <p>2FA is currently <strong>disabled</strong>.</p>
                <a href="{% url 'two_factor_setup' %}" class="btn-submit" style="display: inline-block; margin-top: 0.5rem;">Enable 2FA</a>
            {% endif %}
        </div>
        <button type="submit" class="btn-submit">Save Changes</button>
    </form>
</div>

{% endblock %}