{% extends 'main.html' %}

{% load static %}

{% block content %}

{% if page == 'login' %}

<div class="form-login">
    <form method="POST" action="" data-recaptcha="true" data-recaptcha-key="{{ RECAPTCHA_PUBLIC_KEY }}">
        {% csrf_token %}
        {{ form.captcha }}

        <div class="form-login-single">
            <div>
                <h5><label>Email:</label></h5>
            </div>
            <input type="text" name="email" placeholder="Email"/>
        </div>
        <div class="form-login-single">
            <div>
                <h5><label>Password:</label></h5>
            </div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Login"/>
    </form>
</div>

<center>
    <p>
        Don't have an account? <a href="{% url 'register' %}"><b>Sign up</b></a>
    </p>
    <p>
        Forgotten your password?  <a href="{% url 'reset_password' %}"><b>Reset password</b></a>
    </p>
</center>
{% else %}

<div class="form-register">
    <form method="POST" action="" data-recaptcha="true" data-recaptcha-key="{{ RECAPTCHA_PUBLIC_KEY }}">
        {% csrf_token %}
        {{ form.captcha }}

        <center>
            <div class="form-register-single">
                <div>
                    <h5><label>Username:</label></h5>
                </div>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div class="form-register-single">
                <div>
                    <h5><label>Email:</label></h5>
                </div>
                <input type="text" name="email" placeholder="Email"/>
            </div>
        </center>
        <div class="form-register-single">
            <center>
                <div>
                    <h5><label>Password:</label></h5>
                </div>
                <input type="password" name="password" id="id_password" placeholder="Password"/>
            </center>
            <ul id="password-rules" style="margin-top: 6px; font-size: 0.85rem; line-height: 1.3;">
                <li data-rule="length">min. 9 characters</li>
                <li data-rule="upper">at least 1 uppercase letter (A–Z)</li>
                <li data-rule="lower">at least 1 lowercase letter (a–z)</li>
                <li data-rule="digit">at least 1 digit (0–9)</li>
                <li data-rule="symbol">at least 1 special character (! @ # ...)</li>
            </ul>
        </div>
        <center>
            <div class="form-register-single">
                <div>
                    <h5><label>Password confirmation:</label></h5>
                </div>
                <input type="password" name="password_confirm" placeholder="Password"/>
            </div>
        </center>
        <input type="submit" value="Register"/>
    </form>
</div>

<center>
    <p>
    Already have an account? <a href="{% url 'login' %}"><b>Log in</b></a>
    </p>
</center>

{% endif %}

<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script src="{% static 'js/recaptcha.js' %}"></script>
<script src="{% static 'js/pass_validation.js' %}"></script>

{% endblock content %}