{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="Username"/>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Login"/>
    </form>

    <p>
        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
    </p>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register"/>
    </form>
    
    <p>
        Already have an account? <a href="{% url 'login' %}">Log in</a>
    </p>
</div>

{% endif %}

{% endblock content %}