{% extends 'main.html' %}

{% load static %}

{% block content %}

{% if page == 'login' %}

<div class="form-login">
    <form method="POST" action="" data-recaptcha="true" data-recaptcha-key="{{ RECAPTCHA_PUBLIC_KEY }}">
        {% csrf_token %}
        {{ form.captcha }}

        <div class="form-login-single">
            <div>
                <h5><label>Email:</label></h5>
            </div>
            <input type="text" name="email" placeholder="Email"/>
        </div>
        <div class="form-login-single">
            <div>
                <h5><label>Password:</label></h5>
            </div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Login"/>
    </form>
</div>

<center>
    <p>
        Don't have an account? <a href="{% url 'register' %}"><b>Sign up</b></a>
    </p>
    <p>
        Forgotten your password?  <a href="{% url 'reset_password' %}"><b>Reset password</b></a>
    </p>
</center>
{% else %}

<div class="form-register">
    <form method="POST" action="" data-recaptcha="true" data-recaptcha-key="{{ RECAPTCHA_PUBLIC_KEY }}">
        {% csrf_token %}
        {{ form.captcha }}

        <div class="form-register-single">
            <div>
                <h5><label>Username:</label></h5>
            </div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div class="form-register-single">
            <div>
                <h5><label>Email:</label></h5>
            </div>
            <input type="text" name="email" placeholder="Email"/>
        </div>
        <div class="form-register-single">
            <div>
                <h5><label>Password:</label></h5>
            </div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <div class="form-register-single">
            <div>
                <h5><label>Password confirmation:</label></h5>
            </div>
            <input type="password" name="password_confirm" placeholder="Password"/>
        </div>
        <input type="submit" value="Register"/>
    </form>
</div>

<center>
    <p>
    Already have an account? <a href="{% url 'login' %}"><b>Log in</b></a>
    </p>
</center>

{% endif %}

<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script src="{% static 'js/recaptcha.js' %}"></script>

{% endblock content %}