{% extends 'main.html' %}

{% block content %}

<div class="post-container">
    <div>
        <div class="post-info">
            <h1>{{post.title}}</h1>
            <p>{{post.description}}</p>
        </div>
        <div class="post-comment">
            <h1>Conversation</h1>

            {% for comment in post_comments %}

            <div class="post-comment-single">
                <p>{{comment.body}}</p>
                <div class="post-comment-single-details">
                    <small><a href="{% url 'user_profile' comment.user.username %}">{{comment.user}}</a> {{comment.date_created|timesince}} ago</small>
                    {% if request.user == comment.user %}
                    <a href="{% url 'delete_comment' comment.id%}">Delete</a>
                    {% endif %}
                </div>
            </div>

            {% endfor %}
            
        </div>

        {% if request.user.is_authenticated %}

        <div class="post-comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Add a comment...">
            </form>
        </div>

        {% endif %}
    </div>

    <div class="post-users">
        <h1>Users</h1>

        {% for user in participants %}

        <div class="post-users-single">
            <a href="{% url 'user_profile' user.username %}">{{user.username}}</a>
        </div>      

        {% endfor %}

    </div>
</div>

{% endblock %}