{% extends 'main.html' %}

{% load static %}

{% block content %}

<div>
    {% if form.errors %}

        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        
    {% endif %}

    <form method="POST" action="" class="form-create-post" enctype="multipart/form-data">
        {% csrf_token %}     
        <div>
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        
        <div>
            {{ form.country.label_tag }} {{ form.country }}
        </div>

        <div>
            {{ form.city.label_tag }} {{ form.city }}
        </div>

        <div>
            {{ form.image.label_tag }}
            <input type="file" name="images" multiple>
        </div>

        <div>
            {{ form.description.label_tag }} {{ form.description }}
        </div>

        <div>
            {{ form.note.label_tag }} {{ form.note }}
        </div>

        <div>
            <label>Rate:</label>
            <div class="star-rating">
                <input type="radio" id="star5" name="rate" value="5"><label for="star5" title="5 stars">★</label>
                <input type="radio" id="star4" name="rate" value="4"><label for="star4" title="4 stars">★</label>
                <input type="radio" id="star3" name="rate" value="3"><label for="star3" title="3 stars">★</label>
                <input type="radio" id="star2" name="rate" value="2"><label for="star2" title="2 stars">★</label>
                <input type="radio" id="star1" name="rate" value="1"><label for="star1" title="1 star">★</label>
            </div>
        </div>

        <div>
            <input type="Submit" value="Submit" class="btn-submit" />
        </div>
    </form>
</div>

{% endblock %}