{% extends 'main.html' %}

{% load static %}

{% block content %}

<div>
    {% if form.errors %}

        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        
    {% endif %}

    <form method="POST" action="" class="form-create-post" enctype="multipart/form-data">
        {% csrf_token %}     
        <div>
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        
        <div>
            {{ form.country.label_tag }} {{ form.country }}
        </div>

        <div>
            {{ form.city.label_tag }} {{ form.city }}
        </div>

        <div>
            {{ form.latitude }}
            {{ form.longitude }}

            <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>
        </div>

        <div>
            {{ form.image.label_tag }}
            <input type="file" name="images" multiple>
        </div>

        <div>
            {{ form.description.label_tag }} {{ form.description }}
        </div>

        <div>
            {{ form.note.label_tag }} {{ form.note }}
        </div>

        <div>
            <label>Rate:</label>
            <div class="star-rating">
                <input type="radio" id="star5" name="rate" value="5"><label for="star5" title="5 stars">★</label>
                <input type="radio" id="star4" name="rate" value="4"><label for="star4" title="4 stars">★</label>
                <input type="radio" id="star3" name="rate" value="3"><label for="star3" title="3 stars">★</label>
                <input type="radio" id="star2" name="rate" value="2"><label for="star2" title="2 stars">★</label>
                <input type="radio" id="star1" name="rate" value="1"><label for="star1" title="1 star">★</label>
            </div>
        </div>

        <div>
            <input type="Submit" value="Submit" class="btn-submit" />
        </div>
    </form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 52.2297, lng: 21.0122 },
            zoom: 6
        });

        var marker;

        map.addListener('click', function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();

            document.getElementById('id_latitude').value = lat;
            document.getElementById('id_longitude').value = lng;

            console.log(`Latitude: ${lat}, Longitude: ${lng}`);

            if (marker) {
                marker.setPosition(event.latLng);
            } else {
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map
                });
            }
        });
    }
</script>

{% endblock %}