{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="post-container">
    <div>
        <div class="post-info">
            <h1>{{post.city}}</h1>
            <h2>{{post.country}}</h2>
            <div class="post-images">
                <div class="swiper-container post-images">
                    <div class="swiper-wrapper">
                        {% for image in post.images.all %}
                            <div class="swiper-slide">
                                <img src="{{ image.image.url }}" class="post-image" onclick="openLightbox(this)">
                            </div>
                        {% endfor %}
                    </div>
                
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <p>{{post.description}}</p>
            <p>{{post.note}}</p>
            <div class="post-rating">
                <div class="star-rating-display">
                    {% for i in "12345" %}
                        {% if forloop.counter <= post.rate %}
                            <span class="star filled">★</span>
                        {% else %}
                            <span class="star">★</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="post-likes">
                <a href="{% url 'like' post.id %}">
                    {% if user_has_liked %}
                        <img src="{% static 'images/unlike.svg' %}" alt="dislike">
                    {% else %}
                        <img src="{% static 'images/like.svg' %}" alt="like">
                    {% endif %}
                </a>
                <h3>{{post.likes}}</h3>
            </div>
            
            <div id="lightbox" class="lightbox" onclick="closeLightbox()">
                <span class="prev" onclick="prevImage(event)">&#10094;</span>
                <img id="lightbox-image" class="lightbox-content">
                <span class="next" onclick="nextImage(event)">&#10095;</span>
            </div>
        </div>
        <div class="post-comment">
            <h1>Conversation</h1>

            {% for comment in post_comments %}

            <div>
                {% include 'base/components/single_comment_component.html' %}
            </div>

            {% endfor %}
            
        </div>

        {% if request.user.is_authenticated %}

        <div class="post-comment-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Add a comment...">
            </form>
        </div>

        {% endif %}
    </div>

    <!-- <div class="post-users">
        <h1>Users</h1>

        {% for user in participants %}

        <div class="post-users-single">
            <a href="{% url 'user_profile' user.username %}">{{user.username}}</a>
        </div>      

        {% endfor %}

    </div> -->
</div>

<script src="{% static 'js/lightbox.js' %}"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>

{% endblock %}