{% extends 'main.html' %}

{% block content %}

<div class="profile-container">
    <div>
        {% if user == request.user %}
            {% include 'base/components/friend_list_component.html' %}
        {% endif %}
    </div>
    
    <div>
        {% include 'base/components/info_profile_component.html' %}
        {% include 'base/components/feed_component.html' %}
    </div>

    <div>
        {% if friend_requests %}
            {% include 'base/components/friend_requests_component.html' %}
        {% endif %}
        {% include 'base/components/activity_component.html' %}
    </div>
</div>

{% endblock %}